@tailwind base;
@tailwind components;
@tailwind utilities;

//Colors

//Primary

$orange: hsl(26, 100%, 55%);
$paleOrange: hsl(25, 100%, 94%);

//Neutral
$veryDarkBlue: hsl(220, 13%, 13%);
$darkGrayishBlue: hsl(219, 9%, 45);
$grayishBlue: hsl(220, 14%, 75%);
$lightGrayishBlue: hsl(223, 64%, 98%);
$white: hsl(0, 0%, 100%);
$black: hsla(0, 0%, 0%, 0.75);

body {
  background-color: $white;
  p {
    font-size: 16px;
  }
}

//add custom style to CAROUSEL
.carousel {
  padding: 2em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: min-content min-content;
  gap: 2rem;
  .carousel-item-main {
    grid-column: span 4;
  }
  .carousel-item {
    cursor: pointer;
    border-radius: 0.6rem;
  }
  .thumbnail.selected {
    border: 2px solid $orange;
  }

  .thumbnail:hover:not(.selected) {
    opacity: 0.3;
  }

  .selected-image-thumbnail {
    opacity: 0.3;
    background-color: $orange;
  }
}

//add custom style to Text CONTENT
#contentContainer {
  padding: 2em;
  height: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  h2 {
    color: $orange;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0.8;
    letter-spacing: 1px;
    margin-bottom: 1em;
  }
  h1 {
    font-size: 46px;
    color: $veryDarkBlue;
    font-weight: 700;
    line-height: 1em;
    margin-bottom: 1em;
  }
  p {
    color: $darkGrayishBlue;
    margin-bottom: 2em;
  }
  h3 {
    font-size: 30px;
    font-weight: 700;
    color: $black;
    width: fit-content;
  }
  span.discount {
    color: $orange;
    font-size: 16px;
    font-weight: 700;
    background-color: $paleOrange;
    border-radius: 5px;
    padding: 4px 9px;
  }
  h4 {
    font-size: 18px;
    font-weight: 700;
    color: $grayishBlue;
    text-decoration: line-through;
  }
  .counter-button {
    background-color: $lightGrayishBlue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 0.5rem;
    span {
      border-radius: 0.5rem;
      background-color: $lightGrayishBlue;
      font-weight: 700;
      width: 100%;
      display: flex;
      justify-content: center;
      height: 100%;
      align-items: center;
    }
    .orange {
      cursor: pointer;
      color: $orange;
      font-size: x-large;
    }
  }
}
