$white: #fff;

#mobileCarousel {
  position: relative;
  right: -1;
  .button {
    height: 30px;
    width: 30px;
    position: absolute;
    background-color: $white;
    border-radius: 100%;
    padding: 10px;
    top: calc(30vh - 30px);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      position: relative;
      width: 15px;
      fill: #fff;
    }
  }
  .next-button {
    right: 20px;
  }
  .prev-button {
    left: 20px;
    img {
      rotate: 180deg;
    }
  }
}
